{% extends 'aplicacion/home.html' %}


{% block contenido %}
    <h1>ESTAS  EN LA PAGINA DE METODO DE PAGO </h1>
{% endblock contenido %}

{% block realidad %}
  
    <table class="table table-striped">
         <thead>
             </tr>
               <th>id</th>
               <th>metodo de pago</th>
              
             <tr>
        </thead>
        </tbody>
    {% for h in metodo_pago %}
            <tr>
             <td>{{h.id}}</td>
             <td>{{h.efectivo}}</td>
                
            <tr>
    {% endfor %}
       </tbody>
    </table>
{% endblock realidad %}