{% extends 'aplicacion/home.html' %}


{% block contenido %}
<h1>CUAL ES TU VEHICULO QUE DESEAS PERMUTAR???</h1>
{% endblock contenido %}



{% block aporte %}
  
    <table class="table table-striped">
         <thead>
             </tr>
             <th>id</th>
             <th>autos_disponibles</th>
             <th>nombre_primer_dueño</th>
             <th>email_dueño</th>
             <th>modelo_autos</th>
             <tr>
        </thead>
        </tbody>
    {% for d in permutacion %}
             </tr>
                <td>{{d.id}} </td>
                <td>{{d.nombre_auto}}</td>
                <td>{{d.nombre_primer_dueño}}</td>
                <td>{{d.email}}</td>
                <td>{{d.modelo}}</td>
             </tr>
    {% endfor %}
       </tbody>
    </table>
{% endblock aporte %}